.container {
  max-width: 1160px;
  margin: 40px auto ;
  width: 90%;
}

section {
  display: none;

  &.active {
    display: block;
  }
}


.title {
  display: flex;
  justify-content: center;


  h2 {
    font-size: 75px;
    color: $color-gold;
    border-bottom: 3px solid $color-gold;
    max-width: 800px;
    padding: 0 80px;
    font-weight: $font-weight-bold;
    
  }
}
