.product-widget {
  [class^="skill-"] {
    position: relative;
  }


  .skill-image {
    position: absolute;
    width: 47%;
    height: 100%;
    max-width: 553px;
    max-height: 400px;
    overflow: hidden;
    z-index: 1;
    -webkit-box-shadow: 0px 0px 19px 3px #707070;
    box-shadow: 0px 0px 19px 3px #707070;
  }

  .skill-image img {
    width: 100%;
    height: 100%;
    //object-fit: cover;
    // -webkit-box-shadow: 0px 0px 10px 0px #000000; 
    // box-shadow: 0px 0px 10px 0px #000000;
  }

  .skill-right .skill-image {
    right: 0;
  }

  .skill-right .skill-description {
    padding: 36px 55% 36px 0;
    text-align: left;
  }

  .name {
    font-weight: $font-weight-bold;
    font-size: 46px;
    margin-bottom: 10px;
  }

  .border-top {
    border-top: 3px solid $color-gold;
  }

  .specification {
    font-size: 20px;
    font-weight: $font-weight-bold;

    span{
      color: $color-gold;
    }
  }

}

.product-widget:nth-child(even){
  .skill-description {
    padding: 36px 0 36px 60%;
    text-align: left;
  }

  .skill-right .skill-image {
    left: 0;
  }
}

  
